In [1]:
import pandas as pd
import numpy as np

In [2]:
df_data = pd.read_csv('supermarket_sales.csv')

In [7]:
df_data.head()

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37,Ewallet,604.17,4.761905,30.2085,5.3

#### Faturamento total por filial?

In [6]:
df_data.groupby("City")[["Total", "gross income"]].sum()
# groupby realiza agrupamento de elementos

                 Total  gross income
City
Mandalay   106197.6720     5057.0320
Naypyitaw  110568.7065     5265.1765
Yangon     106200.3705     5057.1605

#### Qual a participação na receita de cada tipo de produto?

In [15]:
(df_data.groupby('Product line')['Total'].sum() / df_data.groupby('Product line')['Total'].sum().sum).sort_values()*100

Product line
Health and beauty         15.231828
Home and lifestyle        16.677232
Fashion accessories       16.814702
Electronic accessories    16.824497
Sports and travel         17.067648
Food and beverages        17.384094
Name: Total, dtype: float64

#### Como está distribuído o tipo de produto consumido por gênero?

In [16]:
df_data.groupby(["Product line", "Gender"])[["Total"]].sum().pivot_table(index="Product line", columns="Gender")

                             Total
Gender                      Female        Male
Product line
Electronic accessories  27102.0225  27235.5090
Fashion accessories     30437.4000  23868.4950
Food and beverages      33170.9175  22973.9265
Health and beauty       18560.9865  30632.7525
Home and lifestyle      30036.8775  23825.0355
Sports and travel       28574.7210  26548.1055

#### Qual foi o faturamento por mês?

In [18]:
df_data["Date"] = pd.to_datetime(df_data["Date"])
df_data["Month"] = df_data["Date"].apply(lambda x: x.month)
df_data["Year"] = df_data["Date"].apply(lambda x: x.year)

In [20]:
df_data.groupby(["Month"])["Total"].sum()

Month
1    116291.868
2     97219.374
3    109455.507
Name: Total, dtype: float64

#### Qual foi a média de avaliação por cada filial em janeiro de 2019?

In [30]:
df_data[(df_data["Year"] == 2019) & (df_data["Month"] == 3)]["Rating"].mean()

6.840289855072463

#### Como se distribui o gasto por tipo de consumidor em cada filial?

In [33]:
df_data.groupby(["Customer type", "City"])["Total"].sum()

Customer type  City
Member         Mandalay     53704.6860
               Naypyitaw    56881.2825
               Yangon       53637.4755
Normal         Mandalay     52492.9860
               Naypyitaw    53687.4240
               Yangon       52562.8950
Name: Total, dtype: float64

#### Coluna são chamadas de series e as tabelas, dataframe

In [36]:
labels = ['a', 'b', 'c']

minha_lista = [10, 20, 30]

arr = np.array([10, 20, 30])

d = {"a": 10, "b": 20, "c":30}

In [39]:
pd.Series(labels)

0    a
1    b
2    c
dtype: object

In [40]:
arr

array([10, 20, 30])

In [41]:
pd.Series(data = labels, index = minha_lista)

10    a
20    b
30    c
dtype: object

In [42]:
d

{'a': 10, 'b': 20, 'c': 30}

In [43]:
pd.Series(d)

a    10
b    20
c    30
dtype: int64

In [47]:
ser1 = pd.Series([1, 2, 3, 4], index = ["EUA", "ALEMANHA", "RÚSSIA", "JAPÃO"])
ser1

EUA         1
ALEMANHA    2
RÚSSIA      3
JAPÃO       4
dtype: int64

In [45]:
ser2 = pd.Series([1, 2, 3, 4], index = ["EUA", "ALEMANHA", "ITÁLIA", "JAPÃO"])
ser2

EUA         1
ALEMANHA    2
ITÁLIA      3
JAPÃO       4
dtype: int64

In [48]:
ser1 + ser2

ALEMANHA    4.0
EUA         2.0
ITÁLIA      NaN
JAPÃO       8.0
RÚSSIA      NaN
dtype: float64

### DataFrames

In [126]:
from numpy.random import randn

In [127]:
df = pd.DataFrame(randn(5,4), index = ['a', 'b', 'c', 'd', 'e'], columns= "w x y z".split())
df
# randn - gera valores aleatórios (5 --> linhas //  4 --> colunas)

          w         x         y         z
a  1.176600  0.276752  2.988949 -0.984337
b -1.004301 -0.744955  0.041711 -0.183847
c -0.694710 -0.808699 -0.781659 -0.381992
d -1.391927  1.325744 -0.460538 -1.892203
e -1.025256 -1.026794  0.195900 -0.407432

In [53]:
df[['w']]

# UTILIZAMOS MAIS UM [] PARA FORÇAR O PYTHON A DEVOLVER UM DATAFRAME. POR PADRÃO, ELE DEVOLVE UMA SERIE

          w
a  1.475487
b -0.245476
c -0.068087
d  2.269214
e -0.864749

In [54]:
df['t'] = df['w'] + df['y']
df['t']

a    2.160212
b   -0.524993
c   -0.101491
d    3.003888
e   -0.508151
Name: t, dtype: float64

In [55]:
df

          w         x         y         z         t
a  1.475487 -0.605892  0.684726 -2.107172  2.160212
b -0.245476  0.728614 -0.279518 -0.202130 -0.524993
c -0.068087 -0.364904 -0.033403 -1.366126 -0.101491
d  2.269214  2.738963  0.734674  0.302950  3.003888
e -0.864749 -0.644185  0.356598 -2.176971 -0.508151

In [60]:
df.drop("t", axis=1)
# 0 = LINHA
# 1 = COLUNA

          w         x         y         z
a  1.475487 -0.605892  0.684726 -2.107172
b -0.245476  0.728614 -0.279518 -0.202130
c -0.068087 -0.364904 -0.033403 -1.366126
d  2.269214  2.738963  0.734674  0.302950
e -0.864749 -0.644185  0.356598 -2.176971

In [59]:
df
# percebe-se que o dataframe original não foi modificado, a função drop manipulou uma cópia

          w         x         y         z         t
a  1.475487 -0.605892  0.684726 -2.107172  2.160212
b -0.245476  0.728614 -0.279518 -0.202130 -0.524993
c -0.068087 -0.364904 -0.033403 -1.366126 -0.101491
d  2.269214  2.738963  0.734674  0.302950  3.003888
e -0.864749 -0.644185  0.356598 -2.176971 -0.508151

In [61]:
df.drop("t", axis=1, inplace=True)
#por padrão, o inplace = False

In [62]:
df

          w         x         y         z
a  1.475487 -0.605892  0.684726 -2.107172
b -0.245476  0.728614 -0.279518 -0.202130
c -0.068087 -0.364904 -0.033403 -1.366126
d  2.269214  2.738963  0.734674  0.302950
e -0.864749 -0.644185  0.356598 -2.176971

In [65]:
df.loc[['a', 'b']]
# loc - localiza os elementos pertecentes a cada indice

          w         x         y         z
a  1.475487 -0.605892  0.684726 -2.107172
b -0.245476  0.728614 -0.279518 -0.202130

In [70]:
df

          w         x         y         z
a  1.475487 -0.605892  0.684726 -2.107172
b -0.245476  0.728614 -0.279518 -0.202130
c -0.068087 -0.364904 -0.033403 -1.366126
d  2.269214  2.738963  0.734674  0.302950
e -0.864749 -0.644185  0.356598 -2.176971

In [75]:
df.iloc[1, 1]
#iloc - trabalha com os indices e colunas do dataframe

0.7286138713894563

In [78]:
df.loc[['a', 'b'], ['w']]

          w
a  1.475487
b -0.245476

In [79]:
df.iloc[1:4, 1:3]

          x         y
b  0.728614 -0.279518
c -0.364904 -0.033403
d  2.738963  0.734674

In [80]:
df

          w         x         y         z
a  1.475487 -0.605892  0.684726 -2.107172
b -0.245476  0.728614 -0.279518 -0.202130
c -0.068087 -0.364904 -0.033403 -1.366126
d  2.269214  2.738963  0.734674  0.302950
e -0.864749 -0.644185  0.356598 -2.176971

In [83]:
df['y'] > 0
# retorna os valores maiores do que zero através do dataframe
# ele descartar os elementos menores do que zero

a     True
b    False
c    False
d     True
e     True
Name: y, dtype: bool

In [81]:
df[df > 0]

          w         x         y        z
a  1.475487       NaN  0.684726      NaN
b       NaN  0.728614       NaN      NaN
c       NaN       NaN       NaN      NaN
d  2.269214  2.738963  0.734674  0.30295
e       NaN       NaN  0.356598      NaN

In [85]:
df[df['y'] > 0]

          w         x         y         z
a  1.475487 -0.605892  0.684726 -2.107172
d  2.269214  2.738963  0.734674  0.302950
e -0.864749 -0.644185  0.356598 -2.176971

In [125]:
(df['y'] > 0) & (df['w'] > 0)

index
a    False
b    False
c    False
d    False
e    False
dtype: bool

In [86]:
df[(df['y'] > 0) & (df['w'] > 0)]

          w         x         y         z
a  1.475487 -0.605892  0.684726 -2.107172
d  2.269214  2.738963  0.734674  0.302950

In [102]:
df.index

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [103]:
df.columns

Index(['w', 'x', 'y', 'z'], dtype='object')

In [104]:
df.reset_index(inplace=True)
# adicionar indices ao meu dataframe
df

  index         w         x         y         z
0     a -1.289661 -0.137246 -0.840651  0.894525
1     b -0.436007  1.111539 -0.448431  0.334982
2     c -1.885996 -1.327667 -0.618776 -0.174290
3     d -0.513560  0.469546 -1.160911  1.090954
4     e -0.849724  0.385263  0.807571 -1.398059

In [105]:
df.set_index('index', inplace=True)
# retirar o elemento index
df

              w         x         y         z
index
a     -1.289661 -0.137246 -0.840651  0.894525
b     -0.436007  1.111539 -0.448431  0.334982
c     -1.885996 -1.327667 -0.618776 -0.174290
d     -0.513560  0.469546 -1.160911  1.090954
e     -0.849724  0.385263  0.807571 -1.398059

In [96]:
df

                w         x         y         z
level_0
0        1.475487 -0.605892  0.684726 -2.107172
1       -0.245476  0.728614 -0.279518 -0.202130
2       -0.068087 -0.364904 -0.033403 -1.366126
3        2.269214  2.738963  0.734674  0.302950
4       -0.864749 -0.644185  0.356598 -2.176971

In [128]:
novoind = 'Ms sS tT tU tV'.split()

df["novo_indice"] = novoind

In [129]:
df

          w         x         y         z novo_indice
a  1.176600  0.276752  2.988949 -0.984337          Ms
b -1.004301 -0.744955  0.041711 -0.183847          sS
c -0.694710 -0.808699 -0.781659 -0.381992          tT
d -1.391927  1.325744 -0.460538 -1.892203          tU
e -1.025256 -1.026794  0.195900 -0.407432          tV

In [130]:
df.reset_index().reset_index("novo_index")

KeyError: 'Requested level (novo_index) does not match index name (None)'

### Hierarquia de índices e índices múltiplos

In [131]:
outside = ['G1', 'G1', 'G1', 'G2', 'G2', 'G2']
inside = [1, 2, 3, 1, 2, 3]
hier_index = list(zip(outside, inside))
hier_index

[('G1', 1), ('G1', 2), ('G1', 3), ('G2', 1), ('G2', 2), ('G2', 3)]

In [134]:
hier_index = pd.MultiIndex.from_tuples(hier_index)
hier_index

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

In [135]:
df = pd.DataFrame(np.random.randn(6,2), index=hier_index, columns=['A', 'B'])
df

             A         B
G1 1 -0.158636 -1.564109
   2  0.134980 -0.668525
   3 -0.571304  0.164081
G2 1  1.335416 -0.473014
   2 -0.510666 -0.036129
   3  0.182964 -1.179119

In [136]:
df.loc['G1']

          A         B
1 -0.158636 -1.564109
2  0.134980 -0.668525
3 -0.571304  0.164081

In [137]:
df.loc['G1'].loc[1]

A   -0.158636
B   -1.564109
Name: 1, dtype: float64

In [138]:
df

             A         B
G1 1 -0.158636 -1.564109
   2  0.134980 -0.668525
   3 -0.571304  0.164081
G2 1  1.335416 -0.473014
   2 -0.510666 -0.036129
   3  0.182964 -1.179119

In [139]:
df.index.names
# método que procura os nomes dos indices do dataframe

FrozenList([None, None])

In [141]:
df.index.names = ['Grupos', 'Índices']
# MÉTODO QUE PODE AJUDAR A SELECIONAR ELEMENTOS DOS INDICES E REALIZAR OPERAÇÕES
df

                       A         B
Grupos Índices
G1     1       -0.158636 -1.564109
       2        0.134980 -0.668525
       3       -0.571304  0.164081
G2     1        1.335416 -0.473014
       2       -0.510666 -0.036129
       3        0.182964 -1.179119

In [143]:
df.xs(1, level="Índices")
# MÉTODO XS PERMITE PEGAR VALORES DOS MÚLTIPLOS ÍNDICES EM QUE EU PASSO A LINHA E O NOME ASSOCIADO ÀQUELA COLUNA

               A         B
Grupos
G1     -0.158636 -1.564109
G2      1.335416 -0.473014