In [1]:
import pandas as pd
import numpy as np

In [2]:
df1 = pd.read_csv('gasolina_2000+.csv', index_col=0)
df2 = pd.read_csv('gasolina_2010+.csv', index_col=0)

C:\Users\lucas\AppData\Local\Temp\ipykernel_10324\670712173.py:2: DtypeWarning: Columns (12,14,15,16,17,18) have mixed types. Specify dtype option on import or set low_memory=False.
  df2 = pd.read_csv('gasolina_2010+.csv', index_col=0)

In [3]:
df1

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO
0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127,R$/l,1.288,0.016,1.190,1.350,0.463,0.012,0.825,0.11,0.4201,0.9666,0.133
1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387,R$/l,1.162,0.114,0.890,1.449,0.399,0.098,0.763,0.088,0.5013,1.05,0.115
2,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,192,R$/l,1.389,0.097,1.180,1.760,0.419,0.070,0.97,0.095,0.5614,1.161,0.098
3,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,ETANOL HIDRATADO,162,R$/l,1.262,0.070,1.090,1.509,0.432,0.055,0.83,0.119,0.5991,1.22242,0.143
4,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,ETANOL HIDRATADO,103,R$/l,1.181,0.078,1.050,1.400,0.24,0.066,0.941,0.077,0.7441,1.0317,0.082
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52802,2010-12-26,2011-01-01,SUDESTE,RIO DE JANEIRO,ÓLEO DIESEL,574,R$/l,1.983,0.086,1.779,2.280,0.255,0.043,1.728,0.04,1.609,1.8536,0.023
52803,2010-12-26,2011-01-01,SUDESTE,SAO PAULO,ÓLEO DIESEL,1871,R$/l,1.966,0.070,1.699,2.399,0.261,0.036,1.705,0.045,1.5764,1.969,0.026
52804,2010-12-26,2011-01-01,SUL,PARANA,ÓLEO DIESEL,469,R$/l,1.946,0.058,1.799,2.109,0.19,0.030,1.756,0.038,1.659,1.9268,0.022
52805,2010-12-26,2011-01-01,SUL,RIO GRANDE DO SUL,ÓLEO DIESEL,419,R$/l,2.052,0.059,1.890,2.310,0.267,0.029,1.785,0.039,1.677,1.9172,0.022
52806,2010-12-26,2011-01-01,SUL,SANTA CATARINA,ÓLEO DIESEL,328,R$/l,2.018,0.066,1.849,2.210,0.225,0.033,1.793,0.042,1.7,1.8854,0.023

In [4]:
df2

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO
9256,2011-01-02,2011-01-08,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,80,R$/l,2.030,0.003,2.020,2.050,0.411,0.001,1.619,0.013,1.6111,1.6411,0.008
9257,2011-01-02,2011-01-08,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,255,R$/l,1.717,0.102,1.490,1.990,0.225,0.059,1.492,0.069,1.3221,1.6201,0.046
9258,2011-01-02,2011-01-08,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,141,R$/l,1.848,0.148,1.590,2.490,0.326,0.080,1.522,0.105,1.2833,1.7486,0.069
9259,2011-01-02,2011-01-08,CENTRO OESTE,MATO GROSSO DO SUL,ETANOL HIDRATADO,132,R$/l,1.893,0.108,1.699,2.199,0.191,0.057,1.702,0.04,1.5915,1.79,0.024
9260,2011-01-02,2011-01-08,NORDESTE,ALAGOAS,ETANOL HIDRATADO,97,R$/l,2.026,0.084,1.749,2.100,0.268,0.041,1.758,0.042,1.63,1.848,0.024
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120818,2021-04-25,2021-05-01,NORTE,RORAIMA,OLEO DIESEL S10,12,R$/l,4.582,0.056,4.510,4.690,-99999.0,0.012,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120819,2021-04-25,2021-05-01,SUL,SANTA CATARINA,OLEO DIESEL S10,100,R$/l,4.141,0.187,3.838,4.739,-99999.0,0.045,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120820,2021-04-25,2021-05-01,SUDESTE,SAO PAULO,OLEO DIESEL S10,886,R$/l,4.246,0.216,3.769,5.199,-99999.0,0.051,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120821,2021-04-25,2021-05-01,NORDESTE,SERGIPE,OLEO DIESEL S10,33,R$/l,4.464,0.205,4.190,4.699,-99999.0,0.046,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120822,2021-04-25,2021-05-01,NORTE,TOCANTINS,OLEO DIESEL S10,18,R$/l,4.352,0.156,4.199,4.699,-99999.0,0.036,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0

#### Questão 1 - Utilize o método concat para unir os dois DataFrames

In [5]:
df = pd.concat([df1, df2])

In [6]:
df.shape

(120823, 18)

In [7]:
df1.shape

(42638, 18)

In [8]:
df2.shape

(78185, 18)

#### Questão 2 - Investigue as colunas usando os métodos head() e info()

In [9]:
df.head()

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO
0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127,R$/l,1.288,0.016,1.19,1.350,0.463,0.012,0.825,0.11,0.4201,0.9666,0.133
1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387,R$/l,1.162,0.114,0.89,1.449,0.399,0.098,0.763,0.088,0.5013,1.05,0.115
2,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,192,R$/l,1.389,0.097,1.18,1.760,0.419,0.070,0.97,0.095,0.5614,1.161,0.098
3,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,ETANOL HIDRATADO,162,R$/l,1.262,0.070,1.09,1.509,0.432,0.055,0.83,0.119,0.5991,1.22242,0.143
4,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,ETANOL HIDRATADO,103,R$/l,1.181,0.078,1.05,1.400,0.24,0.066,0.941,0.077,0.7441,1.0317,0.082

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 120823 entries, 0 to 120822
Data columns (total 18 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   DATA INICIAL                   120823 non-null  object
 1   DATA FINAL                     120823 non-null  object
 2   REGIÃO                         120823 non-null  object
 3   ESTADO                         120823 non-null  object
 4   PRODUTO                        120823 non-null  object
 5   NÚMERO DE POSTOS PESQUISADOS   120823 non-null  int64
 6   UNIDADE DE MEDIDA              120823 non-null  object
 7   PREÇO MÉDIO REVENDA            120823 non-null  float64
 8   DESVIO PADRÃO REVENDA          120823 non-null  float64
 9   PREÇO MÍNIMO REVENDA           120823 non-null  float64
 10  PREÇO MÁXIMO REVENDA           120823 non-null  float64
 11  MARGEM MÉDIA REVENDA           120823 non-null  object
 12  COEF DE VARIAÇÃO REVENDA       120823 non-null  float64
 13  PREÇO MÉDIO DISTRIBUIÇÃO       120823 non-null  object
 14  DESVIO PADRÃO DISTRIBUIÇÃO     120823 non-null  object
 15  PREÇO MÍNIMO DISTRIBUIÇÃO      120823 non-null  object
 16  PREÇO MÁXIMO DISTRIBUIÇÃO      120823 non-null  object
 17  COEF DE VARIAÇÃO DISTRIBUIÇÃO  120823 non-null  object
dtypes: float64(5), int64(1), object(12)
memory usage: 17.5+ MB

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 120823 entries, 0 to 120822
Data columns (total 18 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   DATA INICIAL                   120823 non-null  object
 1   DATA FINAL                     120823 non-null  object
 2   REGIÃO                         120823 non-null  object
 3   ESTADO                         120823 non-null  object
 4   PRODUTO                        120823 non-null  object
 5   NÚMERO DE POSTOS PESQUISADOS   120823 non-null  int64
 6   UNIDADE DE MEDIDA              120823 non-null  object
 7   PREÇO MÉDIO REVENDA            120823 non-null  float64
 8   DESVIO PADRÃO REVENDA          120823 non-null  float64
 9   PREÇO MÍNIMO REVENDA           120823 non-null  float64
 10  PREÇO MÁXIMO REVENDA           120823 non-null  float64
 11  MARGEM MÉDIA REVENDA           120823 non-null  object
 12  COEF DE VARIAÇÃO REVENDA       120823 non-null  float64
 13  PREÇO MÉDIO DISTRIBUIÇÃO       120823 non-null  object
 14  DESVIO PADRÃO DISTRIBUIÇÃO     120823 non-null  object
 15  PREÇO MÍNIMO DISTRIBUIÇÃO      120823 non-null  object
 16  PREÇO MÁXIMO DISTRIBUIÇÃO      120823 non-null  object
 17  COEF DE VARIAÇÃO DISTRIBUIÇÃO  120823 non-null  object
dtypes: float64(5), int64(1), object(12)
memory usage: 17.5+ MB

#### Questão 3 - Selecione a terceira entrada da coluna DATA INICIAL e verifique seu tipo

In [12]:
type(df['DATA INICIAL'][2])

# preciso que modificar as datas, pois estão no formato string

str

In [13]:
df['DATA INICIAL']

0         2004-05-09
1         2004-05-09
2         2004-05-09
3         2004-05-09
4         2004-05-09
             ...
120818    2021-04-25
120819    2021-04-25
120820    2021-04-25
120821    2021-04-25
120822    2021-04-25
Name: DATA INICIAL, Length: 120823, dtype: object

In [14]:
pd.to_datetime(df['DATA INICIAL'])[2].month

5

#### Questão 4 - Crie uma nova coluna para representar o mês e o ano, utilizando a coluna DATA FINAL.

In [15]:
df['DATA INICIAL'] = pd.to_datetime(df['DATA INICIAL'])   
df['DATA FINAL'] = pd.to_datetime(df['DATA FINAL'])

In [16]:
df['ANO-MES'] = df['DATA FINAL'].apply(lambda x: "{}".format(x.year)) + df['DATA FINAL'].apply(lambda x: "/{:02d}".format(x.month))

In [17]:
df['ANO-MES']

0         2004/05
1         2004/05
2         2004/05
3         2004/05
4         2004/05
           ...
120818    2021/05
120819    2021/05
120820    2021/05
120821    2021/05
120822    2021/05
Name: ANO-MES, Length: 120823, dtype: object

#### Questão 5 - Utilize o método value_counts() para listar todos os produtos na base de dados

In [18]:
df.columns

Index(['DATA INICIAL', 'DATA FINAL', 'REGIÃO', 'ESTADO', 'PRODUTO',
       'NÚMERO DE POSTOS PESQUISADOS', 'UNIDADE DE MEDIDA',
       'PREÇO MÉDIO REVENDA', 'DESVIO PADRÃO REVENDA', 'PREÇO MÍNIMO REVENDA',
       'PREÇO MÁXIMO REVENDA', 'MARGEM MÉDIA REVENDA',
       'COEF DE VARIAÇÃO REVENDA', 'PREÇO MÉDIO DISTRIBUIÇÃO',
       'DESVIO PADRÃO DISTRIBUIÇÃO', 'PREÇO MÍNIMO DISTRIBUIÇÃO',
       'PREÇO MÁXIMO DISTRIBUIÇÃO', 'COEF DE VARIAÇÃO DISTRIBUIÇÃO',
       'ANO-MES'],
      dtype='object')

In [19]:
df['PRODUTO'].value_counts()

GASOLINA COMUM        23570
GLP                   23561
ETANOL HIDRATADO      23440
ÓLEO DIESEL           21194
GNV                   14469
ÓLEO DIESEL S10        9113
OLEO DIESEL S10        2376
OLEO DIESEL            2351
GASOLINA ADITIVADA      749
Name: PRODUTO, dtype: int64

#### Questão 6 - Crie uma nova variável para armazenador os dados da 'GASOLINA COMUM'.

In [20]:
df2 = df[df['PRODUTO'] == 'GASOLINA COMUM']
df2

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,ANO-MES
12064,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,GASOLINA COMUM,128,R$/l,2.029,0.007,1.990,2.070,0.318,0.003,1.711,0.02,1.651,1.7427,0.012,2004/05
12065,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,GASOLINA COMUM,395,R$/l,2.025,0.062,1.850,2.220,0.296,0.031,1.729,0.036,1.6643,1.915,0.021,2004/05
12066,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,GASOLINA COMUM,194,R$/l,2.358,0.066,2.000,2.540,0.472,0.028,1.886,0.068,1.75,2.0713,0.036,2004/05
12067,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,GASOLINA COMUM,166,R$/l,2.120,0.075,1.970,2.440,0.325,0.035,1.795,0.033,1.70701,1.9703,0.018,2004/05
12068,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,GASOLINA COMUM,106,R$/l,2.090,0.034,2.000,2.159,0.35,0.016,1.74,0.042,1.6789,1.918,0.024,2004/05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120721,2021-04-25,2021-05-01,NORTE,RORAIMA,GASOLINA COMUM,12,R$/l,5.364,0.065,5.310,5.530,-99999.0,0.012,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,2021/05
120722,2021-04-25,2021-05-01,SUL,SANTA CATARINA,GASOLINA COMUM,119,R$/l,5.051,0.251,4.640,5.599,-99999.0,0.050,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,2021/05
120723,2021-04-25,2021-05-01,SUDESTE,SAO PAULO,GASOLINA COMUM,1187,R$/l,5.265,0.218,4.279,6.099,-99999.0,0.041,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,2021/05
120724,2021-04-25,2021-05-01,NORDESTE,SERGIPE,GASOLINA COMUM,34,R$/l,5.586,0.088,5.410,5.699,-99999.0,0.016,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,2021/05
120725,2021-04-25,2021-05-01,NORTE,TOCANTINS,GASOLINA COMUM,20,R$/l,5.751,0.160,5.578,6.119,-99999.0,0.028,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,2021/05

In [21]:
df2.shape

(23570, 19)

In [22]:
# OUTRA FORMA DE FAZER

# df_filtro = df['PRODUTO'] == 'GASOLINA COMUM'

# df2 = df[df_filtro]

#### Questão 7 -  Qual o preço médio de revenda da gasolina em agosto de 2008?

In [23]:
df2[df2['ANO-MES'] == '2008/08']['PREÇO MÉDIO REVENDA'].mean()

2.6012444444444442

#### Questão 8 -  Qual oo preço médio da gasolina em maio de 2014 no estado de São Paulo?

In [24]:
df2[(df2['ANO-MES'] == '2014/05') & (df2['ESTADO'] == 'SAO PAULO')]['PREÇO MÉDIO REVENDA'].mean()

2.8822

#### Questão 9 - Qual(ais) estado(s) a gasolina ultrapassou R$ 5,00? Diga o período em que isso ocorreu.

In [25]:
df2[df2['PREÇO MÉDIO REVENDA'] > 5][['ESTADO', 'ANO-MES', 'PREÇO MÉDIO REVENDA']].head(25)

                ESTADO  ANO-MES  PREÇO MÉDIO REVENDA
98201             ACRE  2018/05                5.053
98347             ACRE  2018/06                5.035
98493             ACRE  2018/06                5.038
98511   RIO DE JANEIRO  2018/06                5.016
98646             ACRE  2018/06                5.031
98797             ACRE  2018/06                5.036
98948             ACRE  2018/06                5.039
99098             ACRE  2018/07                5.021
99247             ACRE  2018/07                5.042
99398             ACRE  2018/07                5.038
99549             ACRE  2018/07                5.033
99701             ACRE  2018/08                5.031
99852             ACRE  2018/08                5.015
100003            ACRE  2018/08                5.023
100153            ACRE  2018/08                5.036
100302            ACRE  2018/09                5.018
100453            ACRE  2018/09                5.074
100604            ACRE  2018/09                5.129
100756            ACRE  2018/09                5.153
100774  RIO DE JANEIRO  2018/09                5.036
100906            ACRE  2018/09                5.347
100924  RIO DE JANEIRO  2018/09                5.056
100932       TOCANTINS  2018/09                5.041
101055            ACRE  2018/10                5.345
101073  RIO DE JANEIRO  2018/10                5.070

####  Questão 10 - Qual o preço médio de revenda na região sul em 2012?

In [26]:
df_aux = df2[df2['DATA FINAL'].apply(lambda x: x.year) == 2012]

In [27]:
df_aux

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,ANO-MES
22728,2012-01-01,2012-01-07,CENTRO OESTE,DISTRITO FEDERAL,GASOLINA COMUM,80,R$/l,2.834,0.005,2.830,2.850,0.285,0.002,2.549,0.008,2.536,2.559,0.003,2012/01
22729,2012-01-01,2012-01-07,CENTRO OESTE,GOIAS,GASOLINA COMUM,256,R$/l,2.853,0.089,2.550,3.080,0.347,0.031,2.506,0.081,2.391,2.726,0.032,2012/01
22730,2012-01-01,2012-01-07,CENTRO OESTE,MATO GROSSO,GASOLINA COMUM,137,R$/l,2.996,0.078,2.790,3.250,0.464,0.026,2.532,0.069,2.329,2.68,0.027,2012/01
22731,2012-01-01,2012-01-07,CENTRO OESTE,MATO GROSSO DO SUL,GASOLINA COMUM,131,R$/l,2.728,0.147,2.530,3.048,0.33,0.054,2.398,0.056,2.295,2.55,0.023,2012/01
22732,2012-01-01,2012-01-07,NORDESTE,ALAGOAS,GASOLINA COMUM,97,R$/l,2.778,0.065,2.690,2.960,0.439,0.023,2.339,0.033,2.262,2.4367,0.014,2012/01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24127,2012-12-23,2012-12-29,SUDESTE,RIO DE JANEIRO,GASOLINA COMUM,736,R$/l,2.877,0.115,2.549,3.799,0.357,0.040,2.52,0.058,2.335,2.7009,0.023,2012/12
24128,2012-12-23,2012-12-29,SUDESTE,SAO PAULO,GASOLINA COMUM,2376,R$/l,2.639,0.108,2.269,2.999,0.376,0.041,2.263,0.063,2.11,2.5222,0.028,2012/12
24129,2012-12-23,2012-12-29,SUL,PARANA,GASOLINA COMUM,564,R$/l,2.805,0.076,2.530,3.150,0.413,0.027,2.392,0.049,2.2336,2.595,0.02,2012/12
24130,2012-12-23,2012-12-29,SUL,RIO GRANDE DO SUL,GASOLINA COMUM,616,R$/l,2.775,0.099,2.530,3.099,0.415,0.036,2.36,0.048,2.244,2.5354,0.02,2012/12
24131,2012-12-23,2012-12-29,SUL,SANTA CATARINA,GASOLINA COMUM,386,R$/l,2.747,0.094,2.350,2.999,0.394,0.034,2.353,0.038,2.24,2.45,0.016,2012/12

In [28]:
df_aux[df_aux['REGIÃO'] == 'SUL']['PREÇO MÉDIO REVENDA'].mean()

2.7214423076923073

#### Questão 11 - Obtenha uma tabela que contenha a variação ano a ano no esta do Rio de Janeiro.

In [29]:
df2['Mes'] = df2['DATA FINAL'].apply(lambda x: x.month)
df_rio = df2[df2['ESTADO'] == 'RIO DE JANEIRO']

C:\Users\lucas\AppData\Local\Temp\ipykernel_10324\2893844997.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['Mes'] = df2['DATA FINAL'].apply(lambda x: x.month)

In [30]:
df_rio

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,ANO-MES,Mes
12086,2004-05-09,2004-05-15,SUDESTE,RIO DE JANEIRO,GASOLINA COMUM,1071,R$/l,2.045,0.109,1.700,2.599,0.254,0.053,1.791,0.047,1.6363,1.9594,0.026,2004/05,5
12113,2004-05-16,2004-05-22,SUDESTE,RIO DE JANEIRO,GASOLINA COMUM,1055,R$/l,2.040,0.113,1.700,2.599,0.252,0.055,1.788,0.049,1.5943,1.99651,0.027,2004/05,5
12140,2004-05-23,2004-05-29,SUDESTE,RIO DE JANEIRO,GASOLINA COMUM,1091,R$/l,2.042,0.108,1.700,2.599,0.252,0.053,1.79,0.046,1.63596,2.2137,0.026,2004/05,5
12167,2004-05-30,2004-06-05,SUDESTE,RIO DE JANEIRO,GASOLINA COMUM,1055,R$/l,2.053,0.111,1.730,2.599,0.251,0.054,1.802,0.055,1.64,2.21425,0.031,2004/06,6
12194,2004-06-06,2004-06-12,SUDESTE,RIO DE JANEIRO,GASOLINA COMUM,1091,R$/l,2.063,0.107,1.760,2.599,0.247,0.052,1.816,0.054,1.64,2.32425,0.03,2004/06,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120003,2021-03-28,2021-04-03,SUDESTE,RIO DE JANEIRO,GASOLINA COMUM,276,R$/l,6.102,0.197,5.599,6.559,-99999.0,0.032,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,2021/04,4
120181,2021-04-04,2021-04-10,SUDESTE,RIO DE JANEIRO,GASOLINA COMUM,275,R$/l,6.007,0.193,5.299,6.499,-99999.0,0.032,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,2021/04,4
120360,2021-04-11,2021-04-17,SUDESTE,RIO DE JANEIRO,GASOLINA COMUM,261,R$/l,6.016,0.209,5.399,6.516,-99999.0,0.035,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,2021/04,4
120538,2021-04-18,2021-04-24,SUDESTE,RIO DE JANEIRO,GASOLINA COMUM,240,R$/l,6.071,0.217,5.399,6.599,-99999.0,0.036,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,2021/04,4
120717,2021-04-25,2021-05-01,SUDESTE,RIO DE JANEIRO,GASOLINA COMUM,198,R$/l,6.099,0.208,5.480,6.599,-99999.0,0.034,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,2021/05,5

In [31]:
df_month_rio = df_rio.groupby('ANO-MES')[['PREÇO MÉDIO REVENDA', 'Mes']].last()

In [32]:
((df_month_rio[df_month_rio['Mes'] == 12] / df_month_rio[df_month_rio['Mes'] == 12].shift(1) - 1) * 100).rolling(3).sum()

         PREÇO MÉDIO REVENDA  Mes
ANO-MES
2004/12                  NaN  NaN
2005/12                  NaN  NaN
2006/12                  NaN  NaN
2007/12            10.506106  0.0
2008/12             2.256908  0.0
2009/12             2.977270  0.0
2010/12             4.654667  0.0
2011/12            10.775678  0.0
2012/12            10.121052  0.0
2013/12            14.865958  0.0
2014/12            12.122674  0.0
2015/12            31.601507  0.0
2016/12            28.448678  0.0
2017/12            37.729878  0.0
2018/12            23.072992  0.0
2019/12            23.250920  0.0
2020/12             8.286421  0.0

#### Questão 12 - Criar uma tabela contendo uma série temporal com a diferenã absoluta e percentual entre os valores mais baratos e mais caros. Também, fornecer os estados que apresentaram maiores e menores preços.

In [36]:
df_max = df2.groupby('ANO-MES').max()['PREÇO MÉDIO REVENDA']

In [37]:
df_min = df2.groupby('ANO-MES').min()['PREÇO MÉDIO REVENDA']

In [38]:
df_diff = pd.DataFrame()
df_diff

Empty DataFrame
Columns: []
Index: []

In [39]:
df_diff['abs_diff'] = df_max - df_min
df_diff

         abs_diff
ANO-MES
2004/05     0.550
2004/06     0.584
2004/07     0.609
2004/08     0.530
2004/09     0.539
...           ...
2021/01     1.383
2021/02     1.688
2021/03     2.109
2021/04     1.450
2021/05     1.391

[204 rows x 1 columns]

In [40]:
df_diff['percent_diff'] = (df_max - df_min) / df_min * 100
df_diff

         abs_diff  percent_diff
ANO-MES
2004/05     0.550     29.131356
2004/06     0.584     30.543933
2004/07     0.609     31.456612
2004/08     0.530     26.108374
2004/09     0.539     26.538651
...           ...           ...
2021/01     1.383     36.109661
2021/02     1.688     40.960932
2021/03     2.109     46.058091
2021/04     1.450     30.353779
2021/05     1.391     28.580234

[204 rows x 2 columns]

In [43]:
idx_max = df2.groupby('ANO-MES')['PREÇO MÉDIO REVENDA'].idxmax()
idx_min = df2.groupby('ANO-MES')['PREÇO MÉDIO REVENDA'].idxmin()

In [46]:
df_diff['MAX'] = df_max
df_diff['MIN'] = df_min

In [47]:
df_diff

         abs_diff  percent_diff    MAX    MIN
ANO-MES
2004/05     0.550     29.131356  2.438  1.888
2004/06     0.584     30.543933  2.496  1.912
2004/07     0.609     31.456612  2.545  1.936
2004/08     0.530     26.108374  2.560  2.030
2004/09     0.539     26.538651  2.570  2.031
...           ...           ...    ...    ...
2021/01     1.383     36.109661  5.213  3.830
2021/02     1.688     40.960932  5.809  4.121
2021/03     2.109     46.058091  6.688  4.579
2021/04     1.450     30.353779  6.227  4.777
2021/05     1.391     28.580234  6.258  4.867

[204 rows x 4 columns]

In [53]:
df2.loc[idx_max, :]['ESTADO'].values

# caso os dados não encaixem, ou seja, devido possuir o mesmo tamanho, porém índices diferentes, utilizamos o values para resolver o problema

array(['ACRE', 'MATO GROSSO', 'ACRE', 'MATO GROSSO', 'ACRE',
       'MATO GROSSO', 'MATO GROSSO', 'MATO GROSSO', 'MATO GROSSO',
       'MATO GROSSO', 'MATO GROSSO', 'MATO GROSSO', 'MATO GROSSO',
       'MATO GROSSO', 'MATO GROSSO', 'MATO GROSSO', 'MATO GROSSO',
       'MATO GROSSO', 'MATO GROSSO', 'MATO GROSSO', 'MATO GROSSO',
       'MATO GROSSO', 'MATO GROSSO', 'MATO GROSSO', 'ACRE', 'ACRE',
       'RORAIMA', 'RORAIMA', 'ACRE', 'ACRE', 'ACRE', 'ACRE',
       'MATO GROSSO', 'MATO GROSSO', 'ACRE', 'ACRE', 'ACRE', 'ACRE',
       'MATO GROSSO', 'MATO GROSSO', 'ACRE', 'ACRE', 'ACRE', 'ACRE',
       'ACRE', 'ACRE', 'ACRE', 'ACRE', 'ACRE', 'ACRE', 'ACRE', 'ACRE',
       'ACRE', 'ACRE', 'ACRE', 'ACRE', 'ACRE', 'ACRE', 'ACRE', 'ACRE',
       'ACRE', 'ACRE', 'ACRE', 'ACRE', 'ACRE', 'ACRE', 'ACRE', 'ACRE',
       'ACRE', 'ACRE', 'ACRE', 'ACRE', 'ACRE', 'ACRE', 'ACRE', 'ACRE',
       'ACRE', 'ACRE', 'ACRE', 'ACRE', 'ACRE', 'ACRE', 'ACRE', 'ACRE',
       'ACRE', 'ACRE', 'ACRE', 'ACRE', 'ACRE', 'ACRE', 'ACRE', 'ACRE',
       'ACRE', 'ACRE', 'ACRE', 'ACRE', 'ACRE', 'ACRE', 'ACRE', 'ACRE',
       'ACRE', 'ACRE', 'ACRE', 'ACRE', 'ACRE', 'ACRE', 'ACRE', 'ACRE',
       'ACRE', 'ACRE', 'ACRE', 'ACRE', 'ACRE', 'ACRE', 'ACRE', 'ACRE',
       'ACRE', 'ACRE', 'ACRE', 'ACRE', 'ACRE', 'ACRE', 'ACRE', 'ACRE',
       'ACRE', 'ACRE', 'ACRE', 'ACRE', 'ACRE', 'ACRE', 'ACRE', 'ACRE',
       'ACRE', 'ACRE', 'ACRE', 'ACRE', 'ACRE', 'ACRE', 'ACRE', 'ACRE',
       'ACRE', 'ACRE', 'ACRE', 'ACRE', 'ACRE', 'ACRE', 'ACRE', 'ACRE',
       'ACRE', 'ACRE', 'ACRE', 'ACRE', 'ACRE', 'ACRE', 'ACRE', 'ACRE',
       'ACRE', 'ACRE', 'ACRE', 'ACRE', 'ACRE', 'ACRE', 'ACRE', 'ACRE',
       'ACRE', 'ACRE', 'ACRE', 'ACRE', 'ACRE', 'ACRE', 'ACRE', 'ACRE',
       'ACRE', 'ACRE', 'ACRE', 'ACRE', 'ACRE', 'ACRE', 'ACRE',
       'RIO DE JANEIRO', 'ACRE', 'ACRE', 'ACRE', 'RIO DE JANEIRO',
       'RIO DE JANEIRO', 'RIO DE JANEIRO', 'RIO DE JANEIRO',
       'RIO DE JANEIRO', 'RIO DE JANEIRO', 'RIO DE JANEIRO',
       'RIO DE JANEIRO', 'RIO DE JANEIRO', 'RIO DE JANEIRO', 'ACRE',
       'ACRE', 'ACRE', 'ACRE', 'ACRE', 'ACRE', 'ACRE', 'ACRE', 'ACRE',
       'ACRE', 'ACRE'], dtype=object)

In [54]:
df_diff['ESTADO-MAX'] = df2.loc[idx_max, :]['ESTADO'].values
df_diff['ESTADO-MIN'] = df2.loc[idx_min, :]['ESTADO'].values

In [55]:
df_diff

         abs_diff  percent_diff    MAX    MIN   ESTADO-MAX        ESTADO-MIN
ANO-MES
2004/05     0.550     29.131356  2.438  1.888         ACRE         SAO PAULO
2004/06     0.584     30.543933  2.496  1.912  MATO GROSSO         SAO PAULO
2004/07     0.609     31.456612  2.545  1.936         ACRE  DISTRITO FEDERAL
2004/08     0.530     26.108374  2.560  2.030  MATO GROSSO         SAO PAULO
2004/09     0.539     26.538651  2.570  2.031         ACRE         SAO PAULO
...           ...           ...    ...    ...          ...               ...
2021/01     1.383     36.109661  5.213  3.830         ACRE             AMAPA
2021/02     1.688     40.960932  5.809  4.121         ACRE             AMAPA
2021/03     2.109     46.058091  6.688  4.579         ACRE             AMAPA
2021/04     1.450     30.353779  6.227  4.777         ACRE             AMAPA
2021/05     1.391     28.580234  6.258  4.867         ACRE             AMAPA

[204 rows x 6 columns]

In [59]:
df_diff[['ESTADO-MAX']].value_counts()

ESTADO-MAX
ACRE              166
MATO GROSSO        25
RIO DE JANEIRO     11
RORAIMA             2
dtype: int64

In [60]:
df_diff[['ESTADO-MIN']].value_counts()

ESTADO-MIN
SAO PAULO              40
AMAPA                  38
PARAIBA                28
PIAUI                  28
AMAZONAS               14
PARANA                 14
DISTRITO FEDERAL       12
MARANHAO                9
SANTA CATARINA          6
PERNAMBUCO              4
MATO GROSSO DO SUL      3
BAHIA                   2
CEARA                   2
GOIAS                   2
RIO GRANDE DO NORTE     2
dtype: int64